/*
Colors:
    dblue = #0F76BC
    lblue = #2AABDC
    dyellow = #FCB040
    lyellow = #FAC440
*/

.wks-navbar {
    padding: 15px 0;
    height: 60px;
    border: none;
    background: #444444;
}
.wks-slider-bg {
    background: #2AABDC;
    background-image: url(../img/wks-lb-bg.png);
}
.wks-contact-bg {
    background: #0f76bc;
    background-image: url(../img/wks-db-bg.png);
}
.wks-contact-bg h2, .wks-contact-bg p {
    color: #ffffff;
}

.wheel {
    -webkit-transition: -webkit-transform 1s,background 1s,width 1s,height 1s;
    -o-transition-property: width,height,-o-transform,background;
    -o-transition-duration: 1s,1s,1s,1s,1s,1s;
    -moz-transition: -moz-transform 1s,background 1s,width 1s,height 1s;
    -moz-transition-property: width,height,-o-transform,background;
    -moz-transition-duration: 1s,1s,1s,1s,1s,1s;
    -ms-transition-property: width,height,-o-transform,background;
    -ms-transition-duration: 1s,1s,1s,1s,1s,1s;
    transition-property: width,height,transform,background
    transition-duration: 1s,1s,1s,1s,1s,1s;
}

.wheel:hover {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
.right {
    float:right;
}

.center {
    text-align: center;
}
.center img {
    margin: 0 auto;
}
.wks-footer-bg {
    background:#444444;
}
.top-nav-fixed{z-index: 100;position: fixed;width: 100%;}

.test{margin-top:90px;}
.wks-learn-bg{background:#FCB040;background-image: url(../img/wks-dy-bg.png);}
.white-text * {color:#ffffff;}