/*
Colors:
    dblue = #0F76BC
    lblue = #2AABDC
    dyellow = #FCB040
    lyellow = #FAC440
*/
.wks-navbar {
    padding: 15px 0;
    height: 60px;
    border: none;
    background: #444444;
}
.wks-slider-bg {
    background: #2AABDC;
    background-image: url(../img/wks-lb-bg.png);
}
.wks-addthis { 
    width:184px; margin: 0 auto; 
}
.downloads {
    background: #0f76bc;
    background-image: url(../img/wks-db-bg.png);
}
.downloads a:hover {
    color:#dddddd;
}
button a:hover {
    color: #ffffff;
    text-decoration: none;
}
.right {
    float:right;
}
.wks-footer-bg {
    background:#444444;
}
.wks-footer-bg p a {
    color: #dddddd;
}
.wks-footer-bg p a:hover {
    color: #ffffff;
}
.wks-footer-bg hr{
    width:80%;
    margin:0 auto;
    border-color: #dddddd;
}
.wks-footer-bg p {
    color:#dddddd;
}
.top-nav-fixed {
    z-index: 100;
    position: fixed;
    width: 100%;
}
.white-text * {
    color:#ffffff;
}
/*Get involved panel section*/
.wks-panel-link,
.wks-panel-link:hover {
    text-decoration: none;
    color: #444;
}
.wks-panel-link {
    padding: 30px 30px 60px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}
.wks-panel-link:after {
    content: "";
    display: none;
    position: absolute;
    height: 5px;
    right: -1px;
    left: -1px;
    bottom: -1px;
    background: #2AABDC;
}
.wks-panel-link:hover:after { display: block; }
.wks-panel-link:hover h2 { color: #2AABDC; }
.wks-grid-margin-large .uk-grid-margin { margin-top: 50px; }
.wks-icon {
    position: relative;
    width: 80px;
    margin: -60px auto 0 auto;
    border-radius: 100%;
    background: #2AABDC;
    line-height: 80px;
    color: #fff;
}
.wks-icon:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -8px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border: 10px solid #2AABDC;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom: none;
}
.wks-panel-link { -webkit-backface-visibility: hidden; }
.wks-panel-link:hover .wks-icon {
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
}
.round-img {
    border-radius:100%;
}