/*
Colors:
    dblue = #0F76BC
    lblue = #2AABDC
    dyellow = #FCB040
    lyellow = #FAC440
*/

.wks-navbar {
    padding: 15px 0;
    height:60px;
    border: none;
    background: #191919;
}
.wks-bg {
    background: #2AABDC;
    height: 500px;
}

.wheel:hover {
    transform: rotate(50deg);
    -ms-transform:rotate(50deg); /* IE 9 */
    -webkit-transform:rotate(50deg); /* Opera, Chrome, and Safari */
}